<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>Nombre del usuario es:<%= usuario.nombre %></p> 

   <p>Apellido del usuario es:<%= usuario.apellido %></p>

   <p>Email es: <%= usuario.email %></p> 

   <p>Avatar: <%= usuario.avatar %> </p> 


</body>
</html>